@font-face {
  font-family: 'DIN_Condensed_Bold';
  src: url("../../../font/DIN_Condensed_Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'NotoSansCJKjp-Regular';
  src: url("../../../font/NotoSans/NotoSansCJKjp-Regular.otf") format("truetype"); }

@font-face {
  font-family: 'NotoSansCJKjp-DemiLight';
  src: url("../../../font/NotoSans/NotoSansCJKjp-DemiLight.otf") format("truetype"); }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased; }

.fixed {
  position: fixed;
  width: 100%; }

.global-nav > .navtitle {
  display: block;
  position: fixed;
  text-shadow: 2px 2px 3px #808080;
  top: 25px;
  right: 100px;
  font-size: 18px;
  z-index: 1000;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .global-nav > .navtitle {
      right: 5vw; } }

.global-nav .globalnav-wrap {
  position: fixed;
  top: 60px;
  right: 100px;
  font-size: 24px;
  color: grey;
  background: white;
  box-shadow: 1px 1px 2px #808080;
  display: flex;
  justify-content: center;
  width: 150px;
  z-index: 1000; }
  @media only screen and (max-width: 37.5em) {
    .global-nav .globalnav-wrap {
      right: 5vw; } }

.nav-menu {
  width: 200px; }
  .nav-menu .dropdown-btn {
    position: relative;
    display: inline-block;
    width: 150px;
    padding-left: 10px;
    cursor: pointer; }
    .nav-menu .dropdown-btn:hover {
      color: #87CEEB; }
  .nav-menu .dropdown {
    z-index: 1000;
    background: white;
    position: absolute;
    left: 0;
    top: 43px;
    width: 150px;
    padding-left: 10px;
    padding-bottom: 50px;
    display: none;
    box-shadow: 1px 1px 2px #808080; }
    .nav-menu .dropdown li {
      display: list-item;
      margin: 10px 0;
      font-size: 5px;
      width: 90%; }
      .nav-menu .dropdown li .title {
        color: #87CEEB; }
      .nav-menu .dropdown li:hover {
        background-color: #87CEEB; }
        .nav-menu .dropdown li:hover > .title {
          color: white; }
  .nav-menu .nav-button-wrap,
  .nav-menu .open {
    display: block; }
  .nav-menu .close {
    display: block; }

.top-view {
  width: 100%;
  position: relative; }
  .top-view > .toptxt {
    font-family: 'NotoSansCJKjp-Black';
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 100px;
    text-align: left;
    font-size: 120px;
    font-weight: bold;
    line-height: 150px;
    letter-spacing: -.12em;
    background-image: url("/img/blue_txt.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media only screen and (max-width: 37.5em) {
      .top-view > .toptxt {
        margin-bottom: 8vh;
        margin-left: 5vw;
        font-size: 7vw;
        line-height: 6vh; } }
  .top-view > .arrow {
    display: block;
    width: 75px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 200px;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .top-view > .arrow {
        width: 30px;
        height: 30px;
        margin-top: 5vh;
        margin-bottom: 5vh; } }
  .top-view > #slide {
    padding-top: 30px; }

.slide-left {
  font-family: 'NotoSansCJKjp-Black';
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -.1em;
  background-image: url("/img/blue_txt.gif");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 600px; }
  @media only screen and (max-width: 37.5em) {
    .slide-left {
      margin-left: 10vw;
      font-size: 2.5vw; } }

.top-wrapper {
  color: #87CEEB;
  border-bottom: thin solid #87CEEB;
  width: 100%;
  height: 70px;
  text-align: left;
  position: relative;
  cursor: pointer; }
  .top-wrapper:hover {
    background-color: #F2F2F2; }
  .top-wrapper > .english {
    display: inline-block;
    width: 300px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
    @media only screen and (max-width: 37.5em) {
      .top-wrapper > .english {
        font-size: 3vw;
        left: 5vw; } }
  .top-wrapper > .japanese {
    font-family: 'NotoSansCJKjp-Regular';
    opacity: 0;
    display: inline-block;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: .2em;
    position: absolute;
    top: 50%;
    left: 20vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
    @media only screen and (max-width: 37.5em) {
      .top-wrapper > .japanese {
        font-size: 3vw;
        left: 10vw; } }
  @media only screen and (max-width: 37.5em) {
    .top-wrapper > .japanese:nth-child(2) {
      left: 48vw; } }
  .top-wrapper .show {
    opacity: 1; }

.main-visual {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .main-visual {
      height: auto;
      margin-top: 15vh; } }
  .main-visual > .bgimg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .main-visual > .bgimg {
        object-fit: contain; } }
  .main-visual > .logo {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkcit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

.according-list {
  margin-bottom: 140px; }
  .according-list .inner {
    display: none; }

.our-policy {
  margin: 50px auto 200px; }
  @media only screen and (max-width: 37.5em) {
    .our-policy {
      margin-bottom: 100px; } }
  .our-policy > .maintxt {
    padding-top: 100px;
    font-size: 140px;
    letter-spacing: -.1em;
    text-align: center;
    line-height: 1.2em;
    background-image: url("/img/sky_bg.jpg");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media only screen and (max-width: 37.5em) {
      .our-policy > .maintxt {
        padding-top: 30px;
        font-size: 8vw; } }
  .our-policy > .subtxt {
    font-family: 'DIN_Condensed_Bold';
    font-size: 40px;
    width: 65%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .our-policy > .subtxt {
        font-size: 10px; } }
  .our-policy > .content {
    font-family: 'NotoSansCJKjp-DemiLight';
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 19px; }
    @media only screen and (max-width: 37.5em) {
      .our-policy > .content {
        width: 310px;
        font-size: 11px;
        margin-top: 30px; } }

.principle-list {
  width: 65%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .principle-list {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .principle-list > .principle {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .principle-list > .principle > .top {
    font-family: 'DIN_Condensed_Bold';
    width: 100px;
    height: 50px; }
    @media only screen and (max-width: 37.5em) {
      .principle-list > .principle > .top {
        font-size: 20px; } }
  .principle-list > .principle > .content {
    border-top: thin solid #87CEEB;
    padding-top: 20px;
    font-family: 'NotoSansCJKjp-DemiLight'; }
    @media only screen and (max-width: 37.5em) {
      .principle-list > .principle > .content {
        font-size: 10px; } }
  .principle-list > .principle:nth-child(2) > .content {
    padding-right: 80px; }
    @media only screen and (max-width: 37.5em) {
      .principle-list > .principle:nth-child(2) > .content {
        padding-right: 0; } }

.forestry-industry {
  padding-bottom: 150px; }
  @media only screen and (max-width: 37.5em) {
    .forestry-industry {
      padding-bottom: 100px; } }
  .forestry-industry > .toptxt {
    font-family: 'NotoSansCJKjp-DemiLight';
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px; }
    @media only screen and (max-width: 37.5em) {
      .forestry-industry > .toptxt {
        width: 80%;
        font-size: 2vw; } }
  .forestry-industry > .businessmodels {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .forestry-industry > .businessmodels {
        display: flex;
        flex-direction: column;
        justify-content: center; } }
    .forestry-industry > .businessmodels > .previous {
      width: 350px;
      height: 350px;
      margin-right: 100px; }
      @media only screen and (max-width: 37.5em) {
        .forestry-industry > .businessmodels > .previous {
          width: 300px;
          height: 300px;
          margin-right: 0;
          object-fit: cover; } }
    .forestry-industry > .businessmodels > .arrowpc {
      width: 100px;
      height: 400px; }
      @media only screen and (max-width: 37.5em) {
        .forestry-industry > .businessmodels > .arrowpc {
          display: none; } }
    .forestry-industry > .businessmodels > .arrowsp {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .forestry-industry > .businessmodels > .arrowsp {
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 400px;
          height: 100px; } }
    .forestry-industry > .businessmodels > .current {
      width: 350px;
      height: 350px;
      margin-left: 100px; }
      @media only screen and (max-width: 37.5em) {
        .forestry-industry > .businessmodels > .current {
          width: 300px;
          height: 300px;
          margin-left: 0;
          object-fit: cover; } }

.recruit-section {
  font-family: 'NotoSansCJKjp-DemiLight';
  padding: 150px 0; }
  .recruit-section > .content {
    margin: 0 auto;
    line-height: 40px;
    font-size: 16px;
    letter-spacing: 1em; }
    @media only screen and (max-width: 37.5em) {
      .recruit-section > .content {
        line-height: 30px;
        width: 80%;
        font-size: 10px;
        letter-spacing: .5em; } }
    .recruit-section > .content td:last-child {
      letter-spacing: .3em;
      padding-left: 40px; }
      @media only screen and (max-width: 37.5em) {
        .recruit-section > .content td:last-child {
          padding-left: 10px; } }
  .recruit-section > .rulepc {
    margin-top: 100px;
    width: 100%;
    height: 380px;
    object-fit: contain; }
    @media only screen and (max-width: 37.5em) {
      .recruit-section > .rulepc {
        display: none; } }
  .recruit-section > .rulesp {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .recruit-section > .rulesp {
        display: block;
        margin-top: 100px;
        width: 100%;
        object-fit: cover; } }
  .recruit-section > .careerpathpc {
    margin-top: 100px;
    width: 100%;
    height: 430px;
    object-fit: contain; }
    @media only screen and (max-width: 37.5em) {
      .recruit-section > .careerpathpc {
        display: none; } }
  .recruit-section > .careerpathsp {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .recruit-section > .careerpathsp {
        display: block;
        margin-top: 100px;
        width: 100%;
        object-fit: cover; } }

.message-section {
  padding-bottom: 200px;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .message-section {
      padding-bottom: 100px; } }
  .message-section > .toptxt {
    width: 1500px;
    margin: 0 auto;
    margin-top: 100px; }
  .message-section > .bgimg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .message-section > .bgimg {
        height: auto;
        object-fit: contain; } }
  .message-section > .reptxt1 {
    font-size: 25px;
    position: absolute;
    top: 300px;
    left: 850px; }
    @media only screen and (max-width: 37.5em) {
      .message-section > .reptxt1 {
        font-size: 2vw;
        top: 7vh;
        left: 45vw; } }
  .message-section > .reptitle1 {
    font-size: 25px;
    position: absolute;
    top: 600px;
    left: 850px; }
    @media only screen and (max-width: 37.5em) {
      .message-section > .reptitle1 {
        font-size: 2vw;
        top: 20vh;
        left: 45vw; } }
  .message-section > .message1 {
    font-family: 'NotoSansCJKjp-DemiLight';
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .message-section > .message1 {
        margin-top: 100px;
        width: 80%;
        font-size: 2vw; } }
    .message-section > .message1 > .message1title {
      color: #87CEEB;
      font-weight: bold;
      font-size: 24px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .message-section > .message1 > .message1title {
          font-size: 4vw; } }
    .message-section > .message1 > .message1 {
      color: #87CEEB;
      padding-top: 40px;
      padding-bottom: 100px; }
    .message-section > .message1 > .speaker1 {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin-right: 30px; }
      @media only screen and (max-width: 37.5em) {
        .message-section > .message1 > .speaker1 {
          width: 200px;
          height: 200px; } }
    .message-section > .message1 > .square {
      width: 250px;
      height: 250px;
      background-color: #008BBB;
      z-index: -20;
      position: absolute;
      top: 380px;
      left: 55px; }
      @media only screen and (max-width: 37.5em) {
        .message-section > .message1 > .square {
          width: 200px;
          height: 200px;
          top: 50vh; } }

.message3-section {
  font-family: 'NotoSansCJKjp-DemiLight';
  width: 100%;
  margin-top: 200px;
  position: relative; }
  .message3-section > .bgimg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .message3-section > .bgimg {
        height: auto;
        object-fit: contain; } }
  .message3-section > .reptxt2 {
    font-size: 25px;
    position: absolute;
    top: 300px;
    left: 175px; }
    @media only screen and (max-width: 37.5em) {
      .message3-section > .reptxt2 {
        font-size: 2vw;
        top: 5vh;
        left: 5vw; } }
  .message3-section > .reptitle2 {
    font-size: 25px;
    position: absolute;
    top: 600px;
    left: 175px; }
    @media only screen and (max-width: 37.5em) {
      .message3-section > .reptitle2 {
        font-size: 2vw;
        top: 25vh;
        left: 35vw; } }
  .message3-section > .content1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px; }
    @media only screen and (max-width: 37.5em) {
      .message3-section > .content1 {
        width: 80%; } }
    .message3-section > .content1 > .message3title1 {
      color: #87CEEB;
      font-weight: normal;
      font-size: 24px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .message3-section > .content1 > .message3title1 {
          font-size: 3.5vw; } }
    .message3-section > .content1 > .message3first {
      color: #87CEEB;
      padding-top: 40px;
      padding-bottom: 140px; }
      @media only screen and (max-width: 37.5em) {
        .message3-section > .content1 > .message3first {
          padding-top: 10px;
          padding-bottom: 60px;
          font-size: 2vw; } }
  .message3-section > .content2 {
    width: 60%;
    margin: 0 auto;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .message3-section > .content2 {
        margin-top: 4vh;
        width: 80%;
        font-size: 2vw; } }
    .message3-section > .content2 > .message3title2 {
      width: 500px;
      color: #87CEEB;
      font-weight: normal;
      font-size: 24px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .message3-section > .content2 > .message3title2 {
          font-size: 4vw; } }
    .message3-section > .content2 > .message3second {
      float: left;
      width: 490px;
      color: #87CEEB;
      padding-top: 40px;
      padding-bottom: 100px; }
    .message3-section > .content2 > .speaker2 {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin-left: 100px; }
      @media only screen and (max-width: 37.5em) {
        .message3-section > .content2 > .speaker2 {
          width: 200px;
          height: 200px;
          margin-left: 0; } }
    .message3-section > .content2 > .square {
      width: 250px;
      height: 250px;
      background-color: #008BBB;
      z-index: -20;
      position: absolute;
      top: 100px;
      right: 100px; }
      @media only screen and (max-width: 37.5em) {
        .message3-section > .content2 > .square {
          width: 200px;
          height: 200px;
          top: 40vh;
          left: 8vw; } }

.company-overview {
  font-family: 'NotoSansCJKjp-DemiLight';
  position: relative;
  height: 100vh;
  margin-bottom: 200px; }
  @media only screen and (max-width: 37.5em) {
    .company-overview {
      height: auto;
      margin-bottom: 0px; } }
  .company-overview > .toptxt {
    width: 1500px;
    margin: 0 auto;
    margin-top: 100px; }
  .company-overview > .bgimg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .company-overview > .bgimg {
        height: auto;
        object-fit: contain; } }
  .company-overview > .info {
    font-size: 20px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .company-overview > .info {
        width: 80%;
        font-size: 1vw; } }
    .company-overview > .info > .key {
      margin-right: 30px; }
    .company-overview > .info > .value {
      margin-left: 30px; }

.contact-info {
  font-family: 'NotoSansCJKjp-DemiLight';
  margin-top: 50px; }
  .contact-info > .toptxt {
    width: 1500px;
    margin: 0 auto;
    margin-top: 100px; }
  .contact-info > .details {
    width: 430px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 130px;
    margin-bottom: 40rem; }
    @media only screen and (max-width: 37.5em) {
      .contact-info > .details {
        font-size: 3vw;
        width: 80%; } }

.footer-section {
  display: none;
  z-index: 100;
  background-color: white;
  position: relative;
  height: 140px;
  width: 100%; }
  .footer-section > .footerlogo {
    object-fit: contain;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 500px;
    height: 500px; }

.footer-section.fixed {
  position: fixed;
  bottom: 0; }

.wrap {
  overflow: hidden; }

._bg-green {
  background-color: #98EB6B; }

._bg-yellow {
  background-color: #FFF7CB; }

._bg-ash {
  background-color: #F5F5F5; }

._mb-1 {
  margin-bottom: 1rem !important; }

._mb-2 {
  margin-bottom: 2rem !important; }

._mb-3 {
  margin-bottom: 3rem !important; }

._mb-4 {
  margin-bottom: 4rem !important; }

._mb-5 {
  margin-bottom: 5rem !important; }

._mb-6 {
  margin-bottom: 6rem !important; }

._mb-7 {
  margin-bottom: 7rem !important; }

._mb-8 {
  margin-bottom: 8rem !important; }

._mb-9 {
  margin-bottom: 9rem !important; }

._mb-10 {
  margin-bottom: 10rem !important; }

._mb-11 {
  margin-bottom: 11rem !important; }

._mb-12 {
  margin-bottom: 12rem !important; }

._mb-13 {
  margin-bottom: 13rem !important; }

._mb-14 {
  margin-bottom: 14rem !important; }

._mb-15 {
  margin-bottom: 15rem !important; }

._mb-16 {
  margin-bottom: 16rem !important; }

._mb-17 {
  margin-bottom: 17rem !important; }

._mb-18 {
  margin-bottom: 18rem !important; }

._mb-19 {
  margin-bottom: 19rem !important; }

._mb-20 {
  margin-bottom: 20rem !important; }

._pl-1 {
  padding-left: 1rem !important; }

._pl-2 {
  padding-left: 2rem !important; }

._pl-3 {
  padding-left: 3rem !important; }

._pl-4 {
  padding-left: 4rem !important; }

._pl-5 {
  padding-left: 5rem !important; }

._pl-6 {
  padding-left: 6rem !important; }

._pl-7 {
  padding-left: 7rem !important; }

._pl-8 {
  padding-left: 8rem !important; }

._pl-9 {
  padding-left: 9rem !important; }

._pl-10 {
  padding-left: 10rem !important; }

._pl-11 {
  padding-left: 11rem !important; }

._pl-12 {
  padding-left: 12rem !important; }

._pl-13 {
  padding-left: 13rem !important; }

._pl-14 {
  padding-left: 14rem !important; }

._pl-15 {
  padding-left: 15rem !important; }

._pl-16 {
  padding-left: 16rem !important; }

._pl-17 {
  padding-left: 17rem !important; }

._pl-18 {
  padding-left: 18rem !important; }

._pl-19 {
  padding-left: 19rem !important; }

._pl-20 {
  padding-left: 20rem !important; }

._pr-1 {
  padding-right: 1rem !important; }

._pr-2 {
  padding-right: 2rem !important; }

._pr-3 {
  padding-right: 3rem !important; }

._pr-4 {
  padding-right: 4rem !important; }

._pr-5 {
  padding-right: 5rem !important; }

._pr-6 {
  padding-right: 6rem !important; }

._pr-7 {
  padding-right: 7rem !important; }

._pr-8 {
  padding-right: 8rem !important; }

._pr-9 {
  padding-right: 9rem !important; }

._pr-10 {
  padding-right: 10rem !important; }

._pr-11 {
  padding-right: 11rem !important; }

._pr-12 {
  padding-right: 12rem !important; }

._pr-13 {
  padding-right: 13rem !important; }

._pr-14 {
  padding-right: 14rem !important; }

._pr-15 {
  padding-right: 15rem !important; }

._pr-16 {
  padding-right: 16rem !important; }

._pr-17 {
  padding-right: 17rem !important; }

._pr-18 {
  padding-right: 18rem !important; }

._pr-19 {
  padding-right: 19rem !important; }

._pr-20 {
  padding-right: 20rem !important; }

._pt-1 {
  padding-top: 1rem !important; }

._pt-2 {
  padding-top: 2rem !important; }

._pt-3 {
  padding-top: 3rem !important; }

._pt-4 {
  padding-top: 4rem !important; }

._pt-5 {
  padding-top: 5rem !important; }

._pt-6 {
  padding-top: 6rem !important; }

._pt-7 {
  padding-top: 7rem !important; }

._pt-8 {
  padding-top: 8rem !important; }

._pt-9 {
  padding-top: 9rem !important; }

._pt-10 {
  padding-top: 10rem !important; }

._pt-11 {
  padding-top: 11rem !important; }

._pt-12 {
  padding-top: 12rem !important; }

._pt-13 {
  padding-top: 13rem !important; }

._pt-14 {
  padding-top: 14rem !important; }

._pt-15 {
  padding-top: 15rem !important; }

._pt-16 {
  padding-top: 16rem !important; }

._pt-17 {
  padding-top: 17rem !important; }

._pt-18 {
  padding-top: 18rem !important; }

._pt-19 {
  padding-top: 19rem !important; }

._pt-20 {
  padding-top: 20rem !important; }

._pb-1 {
  padding-bottom: 1rem !important; }

._pb-2 {
  padding-bottom: 2rem !important; }

._pb-3 {
  padding-bottom: 3rem !important; }

._pb-4 {
  padding-bottom: 4rem !important; }

._pb-5 {
  padding-bottom: 5rem !important; }

._pb-6 {
  padding-bottom: 6rem !important; }

._pb-7 {
  padding-bottom: 7rem !important; }

._pb-8 {
  padding-bottom: 8rem !important; }

._pb-9 {
  padding-bottom: 9rem !important; }

._pb-10 {
  padding-bottom: 10rem !important; }

._pb-11 {
  padding-bottom: 11rem !important; }

._pb-12 {
  padding-bottom: 12rem !important; }

._pb-13 {
  padding-bottom: 13rem !important; }

._pb-14 {
  padding-bottom: 14rem !important; }

._pb-15 {
  padding-bottom: 15rem !important; }

._pb-16 {
  padding-bottom: 16rem !important; }

._pb-17 {
  padding-bottom: 17rem !important; }

._pb-18 {
  padding-bottom: 18rem !important; }

._pb-19 {
  padding-bottom: 19rem !important; }

._pb-20 {
  padding-bottom: 20rem !important; }

._mh-100 {
  min-height: 100vh !important; }

._can-scroll {
  overflow-y: scroll; }
  ._can-scroll::-webkit-scrollbar {
    width: .6rem; }
  ._can-scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 1rem;
    margin: .5rem 0; }
  ._can-scroll::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    border-radius: 1rem; }

.fadein {
  opacity: 0;
  animation: fadein 6s ease forwards; }

@keyframes fadein {
  100% {
    opacity: 1; } }

.txt01 {
  animation-delay: .5s; }

.txt02 {
  animation-delay: 1s; }

.txt03 {
  animation-delay: 2s; }

.clonenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: 0s;
  transform: translateY(-100%);
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  height: 70px; }
  @media only screen and (max-width: 37.5em) {
    .clonenav {
      height: 65px; } }

.isshow {
  transform: translateY(0); }
