.globalwrapper {
    max-width: 100%;
    overflow: hidden;
}

.container {
    padding: 20px 0 50px 0;
    margin: 0 auto;
    width: 95%;
    max-width: 1500px;
}

.image {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.text {
    font-size: .8rem;
    margin-top: -6px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(34,34,34);
    @include respond(tab-port) {
        font-size: .6rem;
    }
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

.br {
    &.-pc {
        display: block;
        @include respond(phone) {
            display: none;
        }
    }
    &.-sp {
        display: none;
        @include respond(phone) {
            display: block;
        }
    }
}