.article-section {
    padding-top: 20px;
    padding-left: 69px;
    padding-bottom: 70px;
}

.article-section > .title {
    font-weight: normal;
    margin-bottom: 70px;
    font-size: 50px;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    color: 	rgb(181,26,84);
}

