.article-section > .container > .title {
    font-weight: normal;
    margin-bottom: 70px;
    font-size: 3rem;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    color: 	$red-spanish-crimson;
    @include respond(tab-port) {
        font-size: 1.9rem;
    }
}

