.contact-info {
    font-family: 'NotoSansCJKjp-DemiLight';
    margin-top: 50px;
    > .toptxt {
        width: 1500px;
        margin: 0 auto;
        margin-top: 100px;
    }
    > .details {
        width: 430px;
        margin: 0 auto;
        font-size: 18px;
        margin-top: 130px;
        margin-bottom: 40rem;
        @include respond(phone){
            font-size: 3vw;
            width: 80%;
        }
    }
}