.cooking-sp {
    display: none;
    @include respond(phone) {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.cooking-sp > .block {
    margin-right: 10px;
    width: 100%;
}

.cooking-sp > .block > .text {
    padding-top: 20px;
    color: $white;
    @include respond(phone) {
        padding: 15px 20px;
    }
}