.footer-info {
    display: inline-block;
}


.footer-info > .title {
    font-weight: bold;
}

.footer-info > .infogroup {
    list-style: none;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: solid 1px $gray-grey-area;
    }
    @include respond(phone) {
        display: block;
    }
}

.footer-info > .infogroup > .list {
    @include respond(tab-land) {
        flex-basis: 33%;
        margin-bottom: 20px;
    }
}

.footer-info > .infogroup > .list > .item {
    color: $black;
    text-decoration: none;
    display: block;
    padding: 3px 0;
    font-size: .8rem;
    letter-spacing: -.05em;
    line-height: 2em;
}

.footer-info > .infogroup > .list > .item:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .8;
}