.footer-info {
    display: inline-block;
}


.footer-info > .title {
    font-weight: bold;
    font-size: 12px;
}

.footer-info > .item {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 15px;
    letter-spacing: -.05em;
    line-height: 2em;
}

.footer-info > .item:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .8;
}