.more-link {
    color: $white;
    padding: 10px;
    border: solid 1px $white;
    border-radius: 5px;
    &.-pc {
        display: block;
        @include respond(tab-land) {
            display: none;
        }
    }
    &.-sp {
        display: none;
        @include respond(tab-land) {
            margin-top: 20px;
            display: block;
            width: 15vw;
            text-align: center;
        }
        @include respond(phone) {
            font-size: 3.5vw;
            padding: 6px;
            width: 25vw;
        }
    }
}