.nav-menu {
    width: 200px;
    .dropdown-btn {
        position:relative;
        display:inline-block;
        width: 150px;
        padding-left: 10px;
        cursor:pointer;
        &:hover {
            color:#87CEEB;
        }
    }
    .dropdown {
        z-index:1000;
        background:white;
        position:absolute;
        left:0;
        top:43px;
        width:150px;
        padding-left: 10px;
        padding-bottom: 50px;
        display:none;
        box-shadow: 1px 1px 2px #808080;
        li {
            display: list-item;
            margin:10px 0;
            font-size: 5px;
            width: 90%;
            .title {
            color:#87CEEB;
            }
            &:hover {
                background-color: #87CEEB;
                > .title {
                    color: white;
                }
            }
        }
    }
    .nav-button-wrap,
    .open {
        display:block;
    }
    .close {
        display:block;
    }
}