.our-policy {
    margin: 50px auto 200px;
    @include respond(phone){
        margin-bottom: 100px;
    }
    > .maintxt {
        padding-top: 100px;
        font-size: 140px;
        letter-spacing: -.1em;
        text-align: center;
        line-height: 1.2em; 
        background-image: url("/img/sky_bg.jpg");
        background-position: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond(phone){
            padding-top: 30px;
            font-size: 8vw;
        }
    }
    > .subtxt {
        font-family: 'DIN_Condensed_Bold';
        font-size: 40px;
        width: 65%;
        margin: 0 auto;
        @include respond(phone){
            font-size: 10px;
        }
    }
    > .content {
        font-family: 'NotoSansCJKjp-DemiLight';
        width: 900px;
        margin: 0 auto;
        margin-top: 100px;
        font-size: 19px;
        @include respond(phone){
            width: 310px;
            font-size: 11px;
            margin-top: 30px;
        }
    }
}