.pc-navbar {
    @include respond(tab-port) {
        display: none;
    }
}

.pc-navbar > .container > .option > .list {
    margin-left: 20px;
    display: inline-block;
    &:nth-of-type(1){
        padding-bottom: 5px;
        border-bottom: solid 2px $black;
    }
}