.recruit-section {
    font-family: 'NotoSansCJKjp-DemiLight';
    padding: 150px 0;
    > .content {
        margin: 0 auto;
        line-height: 40px;
        font-size: 16px;
        letter-spacing: 1em;
        @include respond(phone){
            line-height: 30px;
            width: 80%;
            font-size: 10px;
            letter-spacing: .5em;
        }
        td:last-child {
            letter-spacing: .3em;
            padding-left: 40px;
            @include respond(phone){
            padding-left: 10px;
            }
        }
    }
    > .rulepc {
        margin-top: 100px;
        width: 100%;
        height: 380px;
        object-fit: contain;
        @include respond(phone){
            display: none;
        }
    }
    > .rulesp {
        display: none;
        @include respond(phone){
            display: block;
            margin-top: 100px;
            width: 100%;
            object-fit: cover;
        }
    }
    > .careerpathpc {
        margin-top: 100px;
        width: 100%;
        height: 430px;
        object-fit: contain;
        @include respond(phone){
            display: none;
        }
    }
    > .careerpathsp {
        display: none;
        @include respond(phone){
            display: block;
            margin-top: 100px;
            width: 100%;
            object-fit: cover;
        }
    }
}