.slide-left {
    font-family: 'NotoSansCJKjp-Black';
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -.1em;
    background-image: url("/img/blue_txt.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 600px;
    @include respond(phone) {
        margin-left: 10vw;
        font-size: 2.5vw;
    }
}
