.top-header {
    width: 100%;
    height: 85px;
    position: relative;
    @include respond(tab-port) {
        display: none;
    }
}

.top-header > .logo {
    width: 105px;
    object-fit: contain;
    margin-left: 75px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.top-header > .menu {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 95px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.top-header  > .menu > .block > .item {
    margin-right: 10px;
    letter-spacing: .1em;
    font-weight: bold;
    color: $black-color;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
}

.top-header  > .menu > .block > .item:hover {
    background-color: $light-gray-color;
}

.top-header  > .menu > .signup {
    box-shadow: 0 0 8px $light-gray-color;
    box-shadow: 0 0 8px ;
    color: $black-color;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 50px;
}